h1 {color: rgb(20, 230, 241);}
h1 {background-color: black;}
 p {color: rgb(47, 255, 245);}
 P {background-color: black;}
 h2 {background-color: rgb(0, 9, 134);}
 h2 {color: rgb(25, 255, 255);}
footer {color: gray;} 
 h1 {margin: 0%;}
 h2 {margin: 0%;}
 p {margin: 0%;}

 h1 {font-style: initial;}
 p {font-style: initial;}
 h2 {font-style: initial;}

footer {padding-left: 70% ;}
